In [31]:
import pandas as pd

In [32]:
dataset = pd.read_excel(r"Book1.xlsx")
dataset.head(7)

,Description,Invoice,Col,Item,Qty,Unit Price,Discount,Total
0,Invoice 3-456-1 Data 1,3-456-1,444,NaN,1,1,12.0,-11.0
1,Invoice 3-456-1 Data 2,3-456-1,342,323.0,2,2,23.0,-19.0
2,Invoice 3-456-1 Data 3,3-456-1,345,23.0,3,3,3.0,6.0
3,Invoice 3-456-1 Data 4,3-456-1,456,NaN,4,4,4.0,12.0
4,Invoice 3-456-1 Data 5,3-456-1,556,454.0,5,5,5.0,20.0
5,Invoice 3-456-1 Data 6,3-456-1,556,554.0,6,6,6.0,30.0
6,Invoice 3-456-1 Data 7,3-456-1,658.466667,566.0,7,7,7.0,42.0

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  117 non-null    object
 1   Invoice      117 non-null    object
 2   Col          117 non-null    object
 3   Item         114 non-null    float64
 4   Qty          117 non-null    int64
 5   Unit Price   117 non-null    object
 6   Discount     105 non-null    float64
 7   Total        116 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 7.4+ KB

In [34]:
dataset.isnull().sum()

Description     0
Invoice         0
Col             0
Item            3
Qty             0
Unit Price      0
Discount       12
Total           1
dtype: int64

In [35]:
dataset["Qty"].value_counts()

Qty
5     5
45    4
25    4
10    4
16    3
2     3
30    3
40    3
39    3
23    3
21    3
20    3
19    3
18    3
22    3
15    3
9     3
4     3
6     3
7     3
8     3
3     3
11    3
12    3
13    3
14    3
44    2
17    2
24    2
48    1
41    1
42    1
43    1
46    1
47    1
37    1
49    1
50    1
51    1
52    1
53    1
38    1
1     1
36    1
35    1
34    1
33    1
32    1
31    1
29    1
28    1
27    1
26    1
65    1
80    1
70    1
54    1
Name: count, dtype: int64

In [36]:
dataset["Qty"].fillna(dataset["Qty"].mode()[0],inplace=True)

C:\Users\MUHIB\AppData\Local\Temp\ipykernel_5896\250429134.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Qty"].fillna(dataset["Qty"].mode()[0],inplace=True)

In [37]:
dataset["Qty"].replace("3+","3",inplace=True)

C:\Users\MUHIB\AppData\Local\Temp\ipykernel_5896\4291685994.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Qty"].replace("3+","3",inplace=True)

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  117 non-null    object
 1   Invoice      117 non-null    object
 2   Col          117 non-null    object
 3   Item         114 non-null    float64
 4   Qty          117 non-null    int64
 5   Unit Price   117 non-null    object
 6   Discount     105 non-null    float64
 7   Total        116 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 7.4+ KB

In [39]:
dataset["Qty"].value_counts()

Qty
5     5
45    4
25    4
10    4
16    3
2     3
30    3
40    3
39    3
23    3
21    3
20    3
19    3
18    3
22    3
15    3
9     3
4     3
6     3
7     3
8     3
3     3
11    3
12    3
13    3
14    3
44    2
17    2
24    2
48    1
41    1
42    1
43    1
46    1
47    1
37    1
49    1
50    1
51    1
52    1
53    1
38    1
1     1
36    1
35    1
34    1
33    1
32    1
31    1
29    1
28    1
27    1
26    1
65    1
80    1
70    1
54    1
Name: count, dtype: int64

In [40]:
dataset["Qty"]= dataset["Qty"].astype("int64")

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  117 non-null    object
 1   Invoice      117 non-null    object
 2   Col          117 non-null    object
 3   Item         114 non-null    float64
 4   Qty          117 non-null    int64
 5   Unit Price   117 non-null    object
 6   Discount     105 non-null    float64
 7   Total        116 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 7.4+ KB