In [1]:
import pandas as pd

In [2]:
dataset=pd.read_excel("Book2.xlsx")
dataset.head(7)

   glo   bp   st   bmi  age  oc
0   40   40   40  22.6   25   1
1   50   50   50  33.6   27   2
2   60   60   60  44.6   29   0
3   70   70   70  55.6   31   2
4   80   80   80  66.6   33   1
5   90   90   90  77.6   35   1
6    0  100  100  88.6   37   2

In [4]:
input_data=dataset.iloc[:,:-1]
input_data.head(5)

   glo  bp  st   bmi  age
0   40  40  40  22.6   25
1   50  50  50  33.6   27
2   60  60  60  44.6   29
3   70  70  70  55.6   31
4   80  80  80  66.6   33

In [6]:
out_data=dataset["oc"]
out_data.head(5)

0    1
1    2
2    0
3    2
4    1
Name: oc, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [13]:
dataset.shape

(44, 6)

In [8]:
x_train, x_test, y_train, y_test = train_test_split(input_data,out_data,test_size=0.25)

In [16]:
x_train.shape, y_train.shape

((33, 5), (33,))

In [17]:
x_test.shape, y_test.shape

((11, 5), (11,))