In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset= pd.read_excel("Book9.xlsx")
dataset.head(3)

   cgpa    pk
0  6.89  3.26
1  5.12  1.98
2  7.82  3.25

In [3]:
x=dataset.iloc[:,:-1]
y=dataset["pk"]

In [9]:
new_data=dataset.head(10)

In [10]:
x=new_data.iloc[:,:-1]
y=new_data["pk"]

In [11]:
from sklearn.model_selection import LeaveOneOut, LeavePOut, KFold, StratifiedKFold

In [17]:
lo = LeaveOneOut()
for train, test in lo.split(x,y):
    print(train,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [13]:
new_data

   cgpa    pk
0  6.89  3.26
1  5.12  1.98
2  7.82  3.25
3  7.42  3.67
4  6.94  3.57
5  7.89  2.99
6  6.73  2.60
7  6.75  2.48
8  6.09  2.31
9  8.31  3.51

In [18]:
lo = KFold(n_splits=5)
for train, test in lo.split(x,y):
    print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [ ]:
lo = LeaveOneOut()
for train, test in lo.split(x,y):
    print(train,test)

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.2,random_state=42)