In [1]:
import pandas as pd

In [2]:
dataset=pd.read_excel("Book9.xlsx")
dataset.head(5)

   cgpa    pk
0  6.89  3.26
1  5.12  1.98
2  7.82  3.25
3  7.42  3.67
4  6.94  3.57

In [3]:
x=dataset.iloc[:,:-1]
y=dataset["pk"]

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression

In [ ]:
bg=BaggingClassifier(estimator=LinearRegression(),n_estimators=100)
bg.fit(x_train,y_train)