In [18]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from keras.models import Sequential

In [8]:
dataset= pd.read_excel("Book12.xlsx")
dataset.head(5)

      cs  age  tenure  balance  np  hcc  iam      es  e
0  619.0   42       2        0   1    1    0  101334  1
1  608.0   41       1     3445   2    1    1  232343  0
2  502.0   39       8     6543   3    1    0     334  1
3  699.0   43       6        0   2    0    1   34445  1
4  850.0   44       5     2334   1    0    1  344453  1

In [9]:
dataset.isnull().sum()

cs         0
age        0
tenure     0
balance    0
np         0
hcc        0
iam        0
es         0
e          0
dtype: int64

In [10]:
input_data=dataset.iloc[:,:-1]
output_data=dataset.iloc[:,:-1]

In [11]:
from altair import Column


ss= StandardScaler()
input_data=pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)

In [12]:
input_data

,cs,age,tenure,balance,np,hcc,iam,es
0,-1.728120,-0.635977,2.236004,-0.154745,-9.997233,10.601887,-10.977249,0.206908
1,-1.753309,-0.862911,-0.071910,1.410223,0.005881,10.601887,0.091098,0.561259
2,-1.996041,-1.316780,16.083488,2.817559,10.008994,10.601887,-10.977249,-0.066275
3,-1.544926,-0.409042,11.467660,-0.154745,0.005881,-0.094323,0.091098,0.025988
4,-1.199147,-0.182108,9.159746,0.905527,-9.997233,-0.094323,0.091098,0.864493
...,...,...,...,...,...,...,...,...
1696,1.721780,0.044827,-0.071910,-0.048445,0.005881,-0.094323,0.091098,-0.057860
1697,1.723816,0.044827,-0.071910,-0.048445,0.005881,-0.094323,0.091098,-0.057860
1698,1.725851,0.044827,-0.071910,-0.048445,0.005881,-0.094323,0.091098,-0.057860
1699,1.727886,0.044827,-0.071910,-0.048445,0.005881,-0.094323,0.091098,-0.057860
1700,1.729921,0.044827,-0.071910,-0.048445,0.005881,-0.094323,0.091098,-0.057860

In [13]:
input_data.shape

(1701, 8)

In [26]:
from keras.models import Sequential # type: ignore
from keras.layers import Dense
from keras.utils import to_categorical

In [27]:
ann= Sequential()

In [28]:
ann.add(Dense(6,input_dim=8,activation="relu"))
ann.add(Dense(4,activation="relu"))
ann.add(Dense(2,activation="relu"))
ann.add(Dense(1,activation="sigmoid"))

c:\Users\MUHIB\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [29]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuray"])

In [30]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2,random_state=42)

In [31]:
x_train.shape

(1360, 8)

In [32]:
ann.fit(x_train,y_train, batch_size=100,epochs=10)

Epoch 1/10

ValueError: Arguments `target` and `output` must have the same shape. Received: target.shape=(None, 8), output.shape=(None, 1)